
.best-seller {
    width: 80%;
    margin: 0 auto;
}

.seller-product {
    padding: 40px 30px;
}

.seller-product h2 {
    color: var(--secondary-text-color3);
    font-size: 26px;
    font-weight: 700;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.1px;
    margin-bottom: 25px;
}
.seller-product hr {
    border: 1px solid #ECECEC;
}
/* List Content Design Here  */

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 50px 0;
    
}

.list {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
    
}

.list img {
    height: auto;
    width: 100%;
    border-radius: 3px 3px 0 0;
}


.list-item {
    padding: 20px;
}

.list-item h4 {
    color: var(--secondary-text-color3);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.list-item p {
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.price {
    display: flex;
    column-gap: 10px;
}

.price p:first-child{
    color:#BDBDBD;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

.price p:last-child {
    color: var(--secondary-text-color1);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}