

header {
    background-image: url("../images/header.png");
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
}

/* .header-full {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
} */



/* Navigation Section CSS  */
/* Navigation Section CSS  */
/* Navigation Section CSS  */

.navigation {
    display: grid;
    grid-template-columns: 0.5fr 1.3fr 0.8fr;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    width: 80%;
    margin: 0 auto;
    
}
.main-menu nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login {
    display: flex;
    justify-content: space-between;
}

.login-icon ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}

.logo {
    color: white;
    font-family: Spectral;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.1px;
    padding: 30px 0;
}

.main-menu ul {
    list-style-type: none;
}

.main-menu ul a {
    text-decoration: none;
    color: var(--light-text-color, #f3f2f2);
    text-align: center;
    font-family: Spectral;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.login-option {
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
}

.login-icon li i {
    color: white;
    width: 16px;
    height: 16px;
}

/* Header Content Start Here  */

.header-content {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

.header-part {
    width: 35%;
}
.header-content h4 {
    color: #f3f2f2;
    font-family: Spectral;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.1px;
    margin-bottom: 15px;
}
.header-part h1 {
    color: var(--light-text-color, #FFF);
    font-family: Spectral;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 90px; /* 112.5% */
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}
.header-part p {
    color: var(--faded2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}
.primary-button {
    background-color: var(--primary-color);
    border: none;
    color: var(--faded2);
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 16px;
}

.primary-button:hover {
    background-color: var(--secondary-text-color3);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

/* Responsiveness for Small Device ********************************** */
@media screen and (max-width: 576px) {

    /* Navigation Section Responsiveness  */

    .navigation {
        width: 100%;
        background-color: #252B42;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .main-menu nav ul  {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .main-menu ul a {
        font-size: 20px;
    }
    .logo {
        margin-left: 40px;
    }
    .main-menu {
        margin-bottom: 30px;
        margin-left: 40px;
    }
    .login {
        padding: 0 40px;
        margin-bottom: 40px;
    }
    .main-menu nav ul li:nth-child(2){
        display: none;
    }
    .main-menu nav ul li:nth-child(6){
        display: none;
    }
    .login {
        column-gap: 15px;
    }

    .login-icon ul {
        column-gap: 10px;
    }

    /* Header Part Responsiveness Here  */
    .header-part {
        width: 60%;
    }
    .header-part h1 {
        font-size: 40px;
        line-height: 50px;
    }
    header {
        background-position-x: 60%;
    }

}


/* Responsiveness for Medium Device  
*****************************/

@media screen and (min-width: 577px) and (max-width: 768px) {

    /* Navigation Section Responsiveness  */
    .navigation {
        grid-template-columns: 1fr 3fr 1fr; 
        column-gap: 80px;
    }

    .main-menu nav ul {
        column-gap: 20px;
    }
    .login-option {
        display: none;
    }
    .main-menu nav ul li:nth-child(2){
        display: none;
    }

    .main-menu nav ul li:nth-child(6) {
        display: none;
    }

    /* Header Part Responsiveness Here  */
    .header-part {
        width: 60%;
    }
    .header-part h1 {
        font-size: 40px;
        line-height: 50px;
    }
    
    
}



/* Large Device Responsiveness **************** */

@media screen and (min-width: 769px) and (max-width: 1200px) {

    /* Navigation Section Responsiveness  */

    .navigation {
        grid-template-columns: 1fr 3.5fr 1fr; 
        column-gap: 80px;
    }
    .login-option {
        display: none;
    }
    .main-menu nav ul li:nth-child(2){
        display: none;
    }

    .main-menu nav ul li:nth-child(6) {
        display: none;
    }
    /* Header Part Responsiveness Here  */
    .header-part {
        width: 50%;
    }
    .header-part h1 {
        font-size: 60px;
        line-height: 70px;
    }
    
}