
.recycle {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    justify-content: center;
    align-items: center;
}


.recycle-image {
    position: relative;
}

.recycle-image-2 {
    max-width: 100%;
    height: auto;
    border-radius: 5px;

}

.recycle-image-1 {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(-25%);
    border-radius: 5px;

}

.recycle-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

.recycle-content h4 {
    color: var(--primary-text-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.1px;
    margin-bottom: 15px;
}

.recycle-content h2 {
    color: var(--secondary-text-color3);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px; /* 131.818% */
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}

.recycle-content p{
    color: var(--gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}

.secondary-button-box {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.secondary-button-1 {
    background-color: var(--secondary-text-color3);
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.2px;
    border: none;
}

.secondary-button-1:hover {
    background-color: var(--primary-color);
    border: none;
    color: var(--faded2);
    transition: 0.3s;
    cursor: pointer;
}

.secondary-button-2 {
    background-color: white;
    color: var(--secondary-text-color3);
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.2px;
    border: 2px solid var(--secondary-text-color3);
}

.secondary-button-2:hover {
    background-color: var(--primary-color);
    border: none;
    color: var(--faded2);
    transition: 0.3s;
    cursor: pointer;
}


@media screen and (max-width: 576px) { 
    .recycle {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 80px;
        grid-row: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .recycle-image-2 {
        width: 80%;
        height: auto;
    }
    .recycle-image-1 {
        width: 50%;
        height: 50%;
        transform: translateY(-50%);
    }
    .secondary-button-box {
        flex-direction: column;
        margin-top: 30px;
        row-gap: 30px;
    }
}

@media screen and (min-width: 577px) and (max-width: 769px) {
    .recycle {
        display: flex;
        row-gap: 80px;
        flex-direction: column-reverse;
    }
    
}

@media screen and (min-width: 770px) and (max-width: 1200px) {
    .recycle {
        display: flex;
        row-gap: 80px;
        flex-direction: column-reverse;
    }
}